@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    @apply --fc-bg-gray-50;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply --fc-rounded --fc-bg-gray-400;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply --fc-bg-gray-200;
}

:root {
    --fc-primary-color: #3b82f6;
    --fc-primary-light-color: #60a5fa;
    --fc-secondary-color: #4f46e5;
    --fc-secondary-light-color: #6366f1;
}

.--fc-application {
    @apply --fc-text-base --fc-font-sans --fc-text-gray-700;
    ;
}

/**
 * ------------------------------
 * Reset css
 * ------------------------------
 */
.--fc-application * {
    @apply --fc-box-border;
}

.--fc-application button {
    @apply --fc-cursor-pointer;
    @apply !--fc-shadow-none !--fc-outline-none;
}

/**
 * ------------------------------
 * Main css
 * ------------------------------
 */
.--fc-application.--fc-dark-theme .--fc-window {
    @apply !--fc-bg-gray-700;
}

.--fc-application.--fc-dark-theme .--fc-header-container {
    @apply --fc-text-gray-700;
}

.--fc-application.--fc-dark-theme .--fc-message-option-item {
    @apply --fc-bg-gray-700 --fc-text-white;
    @apply hover:--fc-bg-gray-900;
}

.--fc-application.--fc-dark-theme .--fc-composer-input {
    @apply --fc-bg-gray-700 --fc-text-white --fc-border-gray-600;
}

.--fc-application.--fc-dark-theme .--fc-composer-submit-button {
    @apply --fc-text-gray-700;
}
