@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    @apply --fc-bg-gray-50;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply --fc-rounded --fc-bg-gray-400;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply --fc-bg-gray-200;
}

:root {
    --fc-primary-color: #8774e1;
    --fc-primary-contrast-color: #fff;

    --fc-secondary-color: #212121;
    --fc-secondary-contrast-color: #fff;
}

.--fc-application {
    @apply --fc-text-base --fc-font-sans --fc-text-gray-700;
    ;
}

/**
 * ------------------------------
 * Reset css
 * ------------------------------
 */
.--fc-application * {
    @apply --fc-box-border;
    @apply --fc-font-sans;
}

.--fc-application button {
    @apply --fc-cursor-pointer;
    @apply !--fc-shadow-none !--fc-outline-none;
}
